.commitments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #F5F8F6;
    z-index: -2;
    padding: 2rem;
}

.commitments-top{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.commitments-top > :nth-child(1){
    font-size: 2.8rem;
}

.commitments-top > :nth-child(2){
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.commitments-top > p{
    font-size: 1.55rem;
}

.commitments-bottom{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.commitment{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: end;
    width: 100%;
}

.commitment > img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.commitment > div{
    padding: 2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.commitment > div>  .bold{    
    color: white;
    font-weight: 600;
    font-size: 2rem;
    z-index: 2;
}

.commitment > div> p{
    color: white;
    font-size: 1.4rem;
    z-index: 2;
}

@media(max-width:480px){
    .commitments{
        padding: 2rem 0;
    }
}

@media(max-width:600px){
    .commitments{
        height: max-content;
    }

    .commitments-top>:nth-child(1){
        font-size:2.5rem;
    }

    .commitments-top>:nth-child(2){
        font-size: 2.5rem;
    }

    .commitments-top >p{
        font-size: 1.3rem;
    }

    .commitments-bottom{
        flex-direction: column;
        gap: 1rem;
    }

    .commitment > img, .commitment > div{
        width: 80%;
    }

    .commitment > div>  .bold{
        font-size:3rem;
    }

    .commitment > div> p{
        font-size: 1.5rem;
    }
}

@media(min-width:820px) and (min-height:1180px){
    .commitments{
        height: max-content;
    }
    .commitment > img{
        width: 80%;
    }
    .commitment > div{
        width: 80%;
    }
}