nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    padding:0.5rem 2rem;
    justify-content:space-between;
    background: white;
    opacity: 0.95;
    border-bottom: 1px solid #D4D4D4;
}
nav.hide {
  top: -100px;
  transition: top 0.5s;
}

nav.show {
  top: 0;
  transition: top 0.5s;
}

nav > :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.logo{
    width: 4.4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img{
    width: 90%;
    height: 80%;
}

.company-name{
    display: flex;
    flex-direction: column;
}

.company-name > :nth-child(1){
    font-weight: 700;
    font-size: 1.5rem;
}

.company-name > :nth-child(2){
    font-size: 1rem;
}

nav > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn{
    background-color: #B10000;
    display: inline-flex;
    gap: 0.8rem;
    padding: clamp(0.8rem, 2vw, 1rem) clamp(1rem, 2vw,1.2rem);
    align-items: center;
    border-radius: 2rem;
    cursor: pointer;
}

@media(max-width:536px){
   
    .company-name{
        display: none;
    }
}

@media(min-width:537px) and (max-width:576px) {
     .company-name >:nth-child(1){
        font-size: 1.2rem;
    }

    .company-name > :nth-child(2){
        font-size: 0.8rem;
    }
}
