nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    padding: 0.8rem;
    justify-content:space-between;
    background: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  
    border-bottom: 1px solid #D4D4D4;
}

nav.hide {
  top: -100px; /* Adjust this value as needed */
  transition: top 0.5s;
}

nav.show {
  top: 0;
  transition: top 0.5s;
}


nav > :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.logo{
    width: 4.4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img{
    width: 80%;
    height: 80%;
}

.company-name{
    display: flex;
    flex-direction: column;
}

nav > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn{
    background-color: #B10000;
    display: flex;
    gap: 3px;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

