.section3{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3rem 0;
}


.section3-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background-color: #333333;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-bottom: 2rem;
}

.section3-left > :nth-child(1){
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
}

.section3-left > :nth-child(1) > :nth-child(1){
    font-size:clamp(1.5rem, 4vw ,3.5rem);
    font-weight: 700;
    color: white;
}

.section3-left > :nth-child(1) > :nth-child(2){
    font-size : clamp(0.5rem, 2.5vw, 1.5rem);
    color: white;
}

.form{
    width: 70%;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    background-color: white;
    padding: 2rem 0;
}

.form > form {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form > form > input, textarea{
    padding: 1rem;
    background-color: #EFEFEF;
    border:1px solid #bcbbbb;
    border-radius: 0.7rem;
}

.form > form > input::placeholder, textarea::placeholder{
    color: #DBDBDB;
    font-size: clamp(0.5rem, 3vw,1rem);
    font-weight: 600;
}


.form > form > button{
    cursor: pointer;
    background-color: #B10000;
    border: none;
    color: white;
    border-radius: 0.7rem;
    padding: 0.8rem ;
    font-size:clamp(0.7rem,2vw,1.2rem );
}

.section3-right{
  border: 2px solid #DBDBDB;
  display: flex;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.section3-right > iframe{
    height: 100%;
    border: 1px solid #DBDBDB;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
@media(max-width:557px){
    .form > form >textarea{
        max-height: 10vh;
    }
}

@media(max-width:1000px){
    .section3{ 
        padding: 0;
        flex-direction: column;
    }
    .section3-left{
        border-radius: 0;
    }
    .section3-right {
        border-radius: 0;
    }

    .section3-right> :nth-child(1){
        border-radius: 0;
    }
    .section3-right{
        height: 50vh;
    }
    .section3-right > iframe{
        width: 100%;
    }
}

@media(min-width:1000px) and (max-width:1245px){
    .section3{
        padding-left: 1rem ;
        padding-right: 1rem ;
    }

    .section3-right{
        width: 50%;
    }
}