.clients-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDEDED;
    height: 27rem;
    gap: 3rem;
    z-index: -100;
}

.clients-section > span{
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
    font-size: 4rem;
    z-index: 1;
}

.clientele {
      position: relative;
      text-decoration: underline;
}

.clientele::before {
      background-color: #FFABAB;
      content: "";
      position: absolute;
      width: calc(100% + 5px);
      height: 60%;
      left: -2px;
      bottom: 10px;
      z-index: -1;
      transform: rotate(-2deg);
}

.clients-logo{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media(max-width:576px){
    .clients-section{
        height: max-content;
    }

    .clients-section> span{
        text-align: center;
    }

    .clientele {
      position: relative;
      text-decoration: underline;
    }

    .clientele::before{
        display: none;
    }

    .clients-logo{
        flex-direction: column;
    }

    .clients-logo > svg{
        width: 50%;
        height: 50%;
    }
}

@media(min-width:820px) and (min-height:1180px){
     .clients-section{
        height: max-content;
    }

    .clients-section> span{
        text-align: center;
    }

    .clientele {
      position: relative;
      text-decoration: underline;
    }

    .clientele::before{
        display: none;
    }

    .clients-logo{
        flex-direction: column;
    }
}