.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: clamp(1rem,1vh,2rem);
    width: 90%;
}

.about-us > span{
    font-size: clamp(1.8rem, 4vw, 4rem);
    font-weight: 800;
}

.about-us> p{
    font-size: clamp(1rem, 2vw, 1.4rem);
    text-align: justify;
    padding-bottom: 1rem;
}

.awards{
    display: flex;
}

.about-us-left{
    display: flex;
    gap: clamp(.2rem,1vh,1rem);
    flex-direction: column;
}

.about-us-right{
    display: flex;
    justify-content: flex-start;
}

.about-us-left > p{
    width: 90%;
    font-size: clamp(1rem, 2vw, 1.4rem);
    text-align: justify;
}

.certif{
    position: relative;
    height: 495px;
    height:  495px;
    width:355px;
    flex-shrink: 0;
}

.trophy{
    position: absolute;
    z-index: 10;
    max-width: 180px;
    max-height: 500px;
    margin-left: -5rem;
    margin-top: 3rem;
}
@media(max-width:700px){
    
    .awards{
      flex-direction: column-reverse;
    }
    .about-us-left > p{
        width: 100%;
    }
    .about-us-right{
        padding-bottom: 2rem;
        align-items: center;
        justify-content: center;
    }
    .certif{
        width: 245px;
        height: 342px;
    }
    .trophy{
        left: 30%;
        width: 157px;
        height: 344px;
    }
}

 @media(min-width:700px) and (max-width:744px){
    .certif{
        width: 245px;
        height: 342px;
    }
    .trophy{
        width: 157px;
        height: 344px;
        flex-shrink: 0;
        right: 0;
    }
 }

 @media(min-width:744px) and (max-width:9565px){
    .about-us-left{
        padding-right: 2rem;
    }
 }