.aboutUs{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.about-us > span{
    border: 4rem;
    font-size: 4rem;
    font-weight: 800;
}

.about-us> p{
    font-size: 1.6rem;
    text-align: justify;
}

.awards{
    display: flex;
}

.about-us-left > p{
    width: 85%;
    font-size:1.6rem;
    text-align: justify;
}

.certif{
    position: relative;
}

.trophy{
    position: absolute;
    z-index: 10;
    margin-left: -5rem;
    margin-top: 2rem;
}

@media(max-width:1200px){
    .aboutUs{
       padding: 1rem 0;
    }
    .awards{
        gap: 2.5rem;
        flex-direction: column-reverse;
    }

    .about-us-left>p{
        width: 100%;
        font-size: 1.6rem;
    }

    .about-us-right{
        width: 100%;
    }

    .certif{
        width: 80%;
    }

    .trophy{
        width: 40%;
        right: 0rem;
    }
}

@media(width:1024px) and (height:600px){
    .awards{
        flex-direction: row;
    }
    

    .about-us > p, .about-us-left > p{
        font-size: 1.2rem;
    }

    .about-us-right{
        display: flex;
        align-items: center;
    }

    .certif{
        width: 100%;
    }

    
    .trophy{
        width: 8%;
        right: 10rem;
    }
}
