.aboutCEO{
    display: flex;
    justify-content: center;
    background: #FFF7F7;
    padding: 2rem 0;
}

.ceo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.ceo >span{
    font-size: 4rem;
    font-weight: 800;
}

.ceo > p > strong{
    font-weight: 700;
    font-size: larger;
}

.ceo > p{
    font-size: 1.6rem;
    text-align: justify;
}


@media(width:1024px) and (height:600px){
    .ceo > span{
        font: 3rem;
    }

    .ceo > p{
        font-size: 1.2rem;
    }
}