.aboutCEO{
    display: flex;
    justify-content: center;
    background: #FFF7F7;
    padding: 2rem 0;
}

.ceo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.ceo >span{
    font-size: clamp(2rem, 5vw,4rem);
    font-weight: 800;
}

.ceo > p > strong{
    font-weight: 700;
}

.ceo > p{
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
    text-align: justify;
}