*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
  display: none;
}

@media (max-width:576px) {
  html{
        font-size: 80%;
    }
  
}